[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pyjwt = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
